@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: Blowbrush;
    src: url('../fuentes/blowbrush/blowbrush.otf')
    ,url('../fuentes/blowbrush/blowbrush.ttf');
}
a{
    color:$mortal_black;
}
p{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}
h2,h3{
    color:$mortal_white;
    font-family: Blowbrush,'Poppins', sans-serif;
    font-size: 3rem;
}
h3{
    font-size: 2.75rem;
}

.section__texto h3,p{
    color: $mortal_black;
}
.cabezera a{
    font-size: 1.5rem;
    font-family: Blowbrush,'Poppins', sans-serif;
}
.pie a{
    font-size: 1.25rem;
    font-family: Blowbrush,'Poppins', sans-serif;
}

@media(min-width: 420px){
    .cabezera a{
        font-size: 2rem;
    }
    .pie a{
        font-size: 1.75rem;
    }
}
@media(max-width: 300px){
    .cabezera a{
        font-size: 1rem;
    }
    .pie a{
        font-size: 0.75rem;
    }
}