@font-face {
    font-family: Blowbrush;
    src: url('../fuentes/blowbrush/blowbrush.otf')
    ,url('../fuentes/blowbrush/blowbrush.ttf');
}
a{
    color:#000000;
}

.cabezera a{
    font-size: 1rem;
}

@media(min-width: 400px){
    .cabezera a{
        font-size: 2rem;
    }
}
@media(max-width: 250px){
    .cabezera a{
        font-size: 0.75rem;
    }
}