@import "variables";
/*Mixin para incluir flex */
@mixin flex($flex,$wrap,$direction,$content,$item,$cont){
    display: $flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $item;
    align-content: $cont;
}

/*Mixin para incluir tamano*/
@mixin tam($alto,$ancho:0){
    @if $alto !=0{
        height: $alto;
    }

    @if $ancho !=0{
        width:$ancho;
    }
}

/*Mixin tab*/
@mixin tab {
    position: relative;
    .section__boton{
        position: absolute;
        top:0;
        right: 0;
        z-index: 20;
    }
    .section__imagen{
        @include tam(100%,100%);
        position: absolute;
        top:0;
        left: 0;
        img{
            @include tam(100%,100%);
            object-fit: cover;
        }
    }
    .active{
        z-index: 10;
    }
    .section__texto{
        @include tam(100%,100%);
        position: absolute;
        top:0;
        left: 0;
        background-color: $mortal_white;
        p{
            z-index: 10;
            left: 50%;
        }
    }
}
/*Mixin para incluir un carrusel*/
@mixin carrusel($carrusel,$tablero,$num){
    #{$carrusel}{
        @include tam(85%,300%);
        @include flex(flex,nowrap,row,space-evenly,center,center);

        .carrusel__section{
            @include tam(100%,calc(100% / $num - 2em));
            @include tab;
        }
    }

    #{$tablero}{
        @include tam(10%,60%);
        @include flex(flex,nowrap,row,space-between,center,center);
        list-style: none;

        .tablero__puntos{
            background-color: blueviolet;
            @include tam(70%,30%);

            button{
                @include tam(100%,100%);
                background: none;
                border:none;
            }
        }
    }
}

@mixin lista_imagenes($carrusel,$tablero,$num){
    #{$carrusel}{
        @include tam(100%,80%);
        margin-left: 10%;
        @include flex(flex,wrap,row,space-evenly,center,center);
        gap: 3%;

        .carrusel__section{
            @include tam(calc(90% / $num),100%);
            @include flex(flex,nowrap,row-reverse,space-evenly,center,center);
            position: inherit;

            img{
                @include tam(100%,50%);
                object-fit: cover;
            }

            p{
                position: inherit;
                z-index: 0;
                left:0%;
                padding-left: 10%;
                @include tam(100%,50%)
            }
        }

        .carrusel__section--central{
            @include tam(calc(90% / 3),100%);
            @include flex(flex,nowrap,row,space-evenly,center,center);
            position: inherit;

            p{
                padding-right: 10%;
            }
        }
    }

    #{$tablero}{
        display: none;
    }
}