@import "variables";
/*Mixin para incluir flex */
@mixin flex($flex,$wrap,$direction,$content,$item,$cont){
    display: $flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $item;
    align-content: $cont;
}

/*Mixin para incluir tamano*/
@mixin tam($alto,$ancho:0){
    @if $alto !=0{
        height: $alto;
    }

    @if $ancho !=0{
        width:$ancho;
    }
}

/*Mixin tab*/
@mixin tab {
    position: relative;
    .section__boton{
        position: absolute;
        top:0;
        right: 0;
        z-index: 20;
        background: none;
        border: none;
        padding: 3vh;
        color: $mortal_red;
        font-size: 3rem;
    }
    .section__imagen{
        @include tam(100%,100%);
        position: absolute;
        top:0;
        left: 0;
        img{
            @include tam(100%,100%);
            object-fit: contain;
            background-color: $mortal_white;
        }
    }
    .active{
        z-index: 10;
    }
    .section__texto{
        @include tam(100%,100%);
        overflow-y: scroll;
        position: absolute;
        top:0;
        left: 0;
        background-color: $mortal_white;
        padding: 0 20%;
        p{
            left: 50%;
        }
    }
}


/*Mixin para incluir un carrusel*/
@mixin carrusel($carrusel,$tablero,$num){
    #{$carrusel}{
        @include tam(85%,300%);
        @include flex(flex,nowrap,row,space-evenly,center,center);
        transform: translateX(calc(100% / $num));

        .carrusel__section{
            @include tam(100%,calc(100% / $num - 0.5em));
            @include tab;
        }
    }
    .case1{
        transform: translateX(calc(100% / $num));
    }
    .case2{
        transform: translateX(0);
    }
    .case3{
        transform: translateX(calc(-100% / $num));
    }

    #{$tablero}{
        @include tam(10%,60%);
        @include flex(flex,nowrap,row,space-between,center,center);
        list-style: none;

        .tablero__puntos{
            background-color: $mortal_red;
            @include tam(70%,30%);

            button{
                @include tam(100%,100%);
                background: none;
                border:none;
            }
        }
    }
}